---
const links = [
  { name: 'Inicio', href: '/' },
  { name: 'Servicios', href: '/' },
  { name: 'Liss Caputti', href: '/' },
  { name: 'Contacto', href: '/' },
];
---

<nav
  class="sticky top-0 h-[60px] bg-black flex items-center justify-center px-[2rem] gap-x-[2rem]"
>
  {
    links.map((link) => (
      <a class="link text-white" href={link.href}>
        {link.name}
      </a>
    ))
  }
</nav>
