---
import { type SidebarProps } from 'webcoreui/astro';
import { Image } from 'astro:assets';

import Icons from '@assets/navbar';
import LogoText from '@assets/navbar/logoText.png';

const currentPath = Astro.url.pathname;

const sidebarProps: SidebarProps = {
  groups: [
    {
      items: [
        {
          name: 'Inicio',
          href: '/',
          icon: Icons.home,
          active: currentPath === '/',
        },
        {
          name: 'Servicios',
          href: '/servicios',
          icon: Icons.services,
          active: currentPath === '/servicios',
        },
        {
          name: 'Liss Caputti',
          href: '/acerca',
          icon: Icons.info,
          active: currentPath === '/acerca',
        },
        {
          name: 'Contacto',
          href: '/contacto',
          icon: Icons.contact,
          active: currentPath === '/contacto',
        },
      ],
    },
  ],
};
---

<!-- Navbar for Desktop -->
<nav
  class="hidden lg:sticky lg:flex top-0 h-[50px] bg-white lg:flex-row justify-between items-center z-50 px-[2rem] shadow-lg"
>
  <div class="basis-[10%]">
    <Image src={LogoText} alt="Logo" class="h-[35px] w-auto" />
  </div>
  <div
    class="flex flex-row justify-center items-center !gap-x-[3rem] basis-[80%]"
  >
    {
      sidebarProps.groups[0].items.map((link) => (
        <a
          class:list={[
            'link transition-all duration-300 hover:text-teal-600',
            link.active && 'text-teal-600 font-semibold',
          ]}
          href={link.href}
        >
          {link.name}
        </a>
      ))
    }
  </div>
  <div class="basis-[10%]"></div>
</nav>
