---
import { type SidebarProps } from 'webcoreui/astro';
import { Image } from 'astro:assets';

import Icons from '@assets/navbar';
import LogoText from '@assets/navbar/logoText.png';

const sidebarProps: SidebarProps = {
  groups: [
    {
      items: [
        { name: 'Inicio', href: '/', icon: Icons.home },
        { name: 'Servicios', href: '/services', icon: Icons.services },
        { name: 'Liss Caputti', href: '/about', icon: Icons.info },
        { name: 'Contacto', href: '/contact', icon: Icons.contact },
      ],
    },
  ],
};
---

<!-- Navbar for Desktop -->
<nav
  class="hidden lg:sticky lg:flex top-0 h-[50px] bg-white lg:flex-row justify-between items-center z-50 px-[2rem] shadow-lg"
>
  <div class="basis-[10%]">
    <Image src={LogoText} alt="Logo" class="h-[35px] w-auto" />
  </div>
  <div
    class="flex flex-row justify-center items-center !gap-x-[3rem] basis-[80%]"
  >
    {
      sidebarProps.groups[0].items.map((link) => (
        <a
          class="link transition-all duration-300 hover:text-teal-600 "
          href={link.href}
        >
          {link.name}
        </a>
      ))
    }
  </div>
  <div class="basis-[10%]"></div>
</nav>
