---
import { Image } from 'astro:assets';
import { Button, Sheet, Sidebar, type SidebarProps } from 'webcoreui/astro';

import Icons from '@assets/navbar';

import LogoText from '@assets/navbar/logoText.png';

const currentPath = Astro.url.pathname;

const sidebarProps: SidebarProps = {
  groups: [
    {
      items: [
        {
          name: 'Inicio',
          href: '/',
          icon: Icons.home,
          active: currentPath === '/',
        },
        {
          name: 'Servicios',
          href: '/services',
          icon: Icons.services,
          active: currentPath === '/services',
        },
        {
          name: 'Liss Caputti',
          href: '/about',
          icon: Icons.info,
          active: currentPath === '/about',
        },
        {
          name: 'Contacto',
          href: '/contact',
          icon: Icons.contact,
          active: currentPath === '/contact',
        },
      ],
    },
  ],
};
---

<!-- Navbar for Mobile -->
<nav
  class="sticky flex top-0 h-[55px] bg-white flex-row justify-between items-center px-[1rem] z-50 shadow-md lg:hidden lg:opacity-0 lg:h-[0px]"
>
  <Button class="button-custom-side" id="menu-button">
    <!-- #0d9489 -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="#14b8a5"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M4 6l16 0"></path><path d="M4 12l16 0"></path><path d="M4 18l16 0"
      ></path></svg
    >
  </Button>

  <div>
    <Image src={LogoText} alt="Logo" class="h-[35px] w-auto" />
  </div>
  <div class="w-[24px]"></div>
</nav>

<Sheet className="sheet-custom-side class-sidebar" position="left">
  <Sidebar {...sidebarProps} />
</Sheet>

<script>
  import { modal } from 'webcoreui';

  document.addEventListener('astro:page-load', () => {
    modal({
      trigger: '.button-custom-side',
      modal: '.sheet-custom-side',
    });
  });
</script>

<style is:global lang="scss">
  .class-sidebar > aside > ul {
    gap: 1.5rem;
    margin-top: 2.5rem;
  }
  .class-sidebar {
    > button {
      height: 26px !important;
      width: 26px !important;

      > svg {
        height: 26px !important;
        width: 26px !important;
      }
    }
  }
</style>
