---
import Divider from '@components/shared/Divider.astro';
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import { twMerge } from 'tailwind-merge';

interface Props {
  title: string;
  subtitle?: string;
  align?: 'left' | 'right' | 'center' | 'justify';
  Content: AstroComponentFactory;
}

const { title, subtitle, Content, align } = Astro.props as Props;
---

<article data-aos="fade-up" data-aos-offset="0" data-aos-delay="0">
  <div
    class="flex flex-col justify-center !gap-x-[1rem] px-[1rem] lg:!gap-0 lg:px-0"
  >
    <Divider
      aria-label={title}
      text={title}
      className="text-2xl lg:text-[2rem] font-[100] text-center leading-10 my-[2rem] hover:text-teal-600 transition-colors duration-500 cursor-default"
    />
    {
      subtitle && (
        <p
          aria-label={subtitle}
          class="text-center text-lg lg:text-xl font-[300] text-gray-500"
        >
          {subtitle}
        </p>
      )
    }
    <div
      class:list={[
        'prose text-center',
        align === 'left' && 'text-left',
        align === 'right' && 'text-right',
        align === 'center' && 'text-center',
        align === 'justify' && 'text-justify',
        '!max-w-full',
      ]}
    >
      <Content />
    </div>
  </div>
</article>
