---
export const prerender = false;

import LayoutHome from 'src/layouts/LayoutHome.astro';

import Input from '@components/form/Input.astro';
import Select from '@components/form/Select.astro';
import Checkboxes from '@components/form/Checkboxes.astro';

import { WeddingType, WishList } from '@content/form';

const errors = {
  yourName: '',
  coupleName: '',
  email: '',
  phone: '',
  place: '',
  guests: '',
  budget: '',
  date: '',
  comments: '',
  how: '',
  weddingType: '',
  wishlist: '',
};

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData();

    const yourName = data.get('your-name');

    const coupleName = data.get('couple-name');

    const email = data.get('email');

    const phone = data.get('phone');

    const place = data.get('place');

    const guests = data.get('guests');

    const budget = data.get('budget');

    const date = data.get('date');

    const comments = data.get('comments');

    const how = data.get('how');

    const weddingType = data.get('weddingType');

    const wishlist = data.getAll('wishlist');

    console.log({
      yourName,
      coupleName,
      email,
      phone,
      place,
      guests,
      budget,
      date,
      comments,
      how,
      weddingType,
      wishlist,
    });
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<LayoutHome title="Contacto - Caputi Festa">
  <form
    method="POST"
    class="w-full px-[1rem] md:px-[5rem] lg:px-[10rem] my-[2rem] lg:my-[4rem] flex flex-col !gap-y-[1rem]"
  >
    <section class="flex flex-col gap-[1rem] lg:flex-row">
      <Input label="Tu nombre" id="your-name" />

      <Input label="Nombre de tu pareja" id="couple-name" />
    </section>

    <section class="flex flex-col gap-[1rem] lg:flex-row">
      <Input
        label="Email"
        id="email"
        placeholder="ejemplo@email.com"
        type="email"
      />

      <Input label="Teléfono" id="phone" type="tel" />
    </section>

    <Input label="Lugar de la boda preferido" id="place" type="text" />

    <section class="flex flex-col gap-[1rem] lg:flex-row">
      <Input label="Cantidad de invitados" id="guests" type="number" />

      <Input
        label="Presupuesto estimado"
        id="budget"
        type="number"
        helperText="Conocer esta información es muy importante. Asi tendremos una guía de lo que podremos ofrecerte"
      />
    </section>

    <Input
      label="Fecha de la boda"
      id="date"
      type="date"
      pattern="\d{2}-\d{2}-\d{4}"
    />

    <Input
      label="Comentarios"
      id="comments"
      type="textarea"
      placeholder="¿Hay algo más que quieras contarnos?"
    />

    <section class="flex flex-col gap-[1rem] lg:flex-row">
      <Input label="¿Cómo nos encontraste?" id="how" type="text" />

      <Select label="Tipo de boda" id="weddingType" options={WeddingType} />
    </section>

    <Checkboxes
      id="wishlist"
      label="Hagamos el wishlist de tu boda"
      options={WishList}
    />

    <button
      type="submit"
      class="w-full md:w-fit relative inline-flex mt-[2rem] items-center justify-center p-0.5 overflow-hidden rounded-lg group bg-gradient-to-br from-cyan-600 to-teal-500 group-hover:from-cyan-600 group-hover:to-teal-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300"
    >
      <span
        class="w-full md:w-fit text-lg relative px-10 py-2.5 transition-all ease-in duration-[300] bg-white text-gray-700 hover:text-white rounded-md group-hover:bg-opacity-0"
      >
        Enviar formulario
      </span>
    </button>
  </form>
</LayoutHome>
