---
import LayoutHome from 'src/layouts/LayoutHome.astro';

import { Spinner } from 'webcoreui/astro';

import FormReact from '@components/form';
---

<LayoutHome title="Contacto - Caputi Festa">
  <div class="spinner mt-[3rem] h-full">
    <Spinner size={128} color="teal" />
  </div>

  <div class="hidden form">
    <FormReact client:only="react" />
  </div>
</LayoutHome>

<script>
  setTimeout(() => {
    document.querySelector('.spinner')?.classList.add('hidden');
    document.querySelector('.form')?.classList.remove('hidden');
  }, 500);
</script>
