---
import Layout from 'src/layouts/Layout.astro';
import FAQ from 'src/components/faq/index.tsx';

import { getLangFromUrl, useTranslations } from '@i18n/utils';
import type { defaultLang, ui } from '@i18n/ui';
import FastContact from '@components/shared/FastContact.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const totalQuestions = 13;

const faqItems = Array.from({ length: totalQuestions }, (_, i) => {
  const questionId = `question.${i + 1}`;
  const answerId = `answer.${i + 1}`;

  return {
    title: t(questionId as keyof (typeof ui)[typeof defaultLang]),
    content: t(answerId as keyof (typeof ui)[typeof defaultLang]),
  };
});
---

<Layout title="FAQ - Caputi Festa">
  <section class="w-full flex flex-col justify-center my-8 lg:my-16">
    <FAQ client:only="react" items={faqItems} />
  </section>

  <div class="mt-16 lg:mt-24">
    <FastContact formText={t('services.contact.subtitle')} />
  </div>
</Layout>

<style lang="scss" is:global>
  .accordion-list {
    li {
      padding-block: 1.25rem;
    }

    button {
      font-family: 'Krub';
      font-size: 1.125rem !important;
    }

    button:hover {
      color: #00bdc5;
      transition: color 0.3s ease;
    }

    div {
      font-family: 'Inter', sans-serif;
      text-align: justify;
    }
  }
</style>
