---
import Hero from '@components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Caputi Festa">
  <main>
    <Hero />
    <p class="">Description</p>
    <p class="">Our services (Preview)</p>
    <p class="">Testimonials</p>
    <p class="">Featuring colab</p>
    <p class="">Fast contact button</p>
  </main>
</Layout>
