---
import Layout from '../layouts/Layout.astro';

import Hero from '@components/home/Hero.astro';
import Description from '@components/home/Description.astro';
import Services from '@components/home/Services.astro';
import Testimonials from '@components/home/Testimonials.astro';
---

<Layout title="Caputi Festa">
  <main>
    <Hero />

    <Description />

    <Services />

    <Testimonials />

    <p>Featuring colab</p>

    <p cdata-aos="fade-in" data-aos-delay="300">Fast contact button</p>
  </main>
</Layout>
