---
import { Image } from 'astro:assets';

import { getLangFromUrl, useTranslations } from '@i18n/utils';

import LayoutHome from 'src/layouts/LayoutHome.astro';

import Hero from '@components/home/Hero.astro';
import Services from '@components/home/Services.astro';
import Featuring from '@components/home/Featuring.astro';
import Description from '@components/home/Description.astro';
import Testimonials from '@components/home/Testimonials.astro';

import TransText from '@components/shared/TransText.astro';
import ImageDescription from '@assets/description/description.jpg';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<LayoutHome title="Caputi Festa">
  <Hero />

  <Description />

  <Image
    src={ImageDescription}
    alt={t('description.subtitle.second.p1')}
    class="mt-8 h-[200px] md:h-[450px] xl:h-[650px] object-cover"
  />

  <Services />

  <Testimonials />

  <Featuring />

  <section
    class="flex flex-col items-center justify-center !gap-4 mt-16"
    data-aos="fade-up"
    data-aos-offset="10"
  >
    <TransText tag="h1" textId="contact.button" class="!text-6xl" />

    <TransText
      tag="a"
      href="/contacto"
      textId="contact.subtitle"
      class="text-center prose underline !text-2xl cursor-pointer"
    />
  </section>
</LayoutHome>

<!-- <script>
  import AOS from 'aos';

  AOS.init({
    delay: 100,
    once: false,
    offset: 300,
    duration: 1250,
    //easing: 'ease-in-cubic',
  });
</script> -->
