---
import Layout from '../layouts/Layout.astro';

import Hero from '@components/home/Hero.astro';
import Description from '@components/home/Description.astro';
import Services from '@components/home/Services.astro';
import Testimonials from '@components/home/Testimonials.astro';
---

<Layout title="Caputi Festa">
  <main>
    <Hero />

    <Description />

    <Services />

    <Testimonials />
    <p class="">Featuring colab</p>
    <p class="">Fast contact button</p>
  </main>
</Layout>
