---
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';

import Section from '@components/about/Section.astro';

import TransText from '@components/shared/TransText.astro';

const sections = (await getCollection('about')).sort(
  (a, b) => a.data.order - b.data.order
);
---

<Layout title="Servicios - Caputi Festa">
  <section
    class="w-full flex flex-col justify-center px-0 md:px-[2rem] lg:px-[4rem] my-[2rem] !gap-y-[4rem]"
  >
    {sections.map(({ slug }) => <Section id={slug} />)}
  </section>

  <!-- <FastContact text={t('contact.button')} /> -->

  <div
    class="flex flex-col items-center justify-center !gap-8 mt-16 px-0 md:px-[2rem] lg:px-[4rem]"
  >
    <TransText
      tag="p"
      textId="wedding.help"
      class="text-center !text-xl hover:text-teal-600 cursor-default"
    />

    <TransText
      tag="h2"
      textId="wedding.contact.title"
      class="text-center !text-2xl hover:text-teal-600 cursor-default"
    />

    <TransText
      tag="a"
      href="/contacto"
      textId="wedding.contact.schedule"
      class="text-center !text-2xl underline hover:text-teal-600 cursor-pointer"
    />
  </div>
</Layout>
