---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="relative mb-[2rem] lg:mb-[6rem] mx-[0.5rem]">
  <h1
    class="text-2xl lg:text-[2rem] font-[100] text-center leading-10 my-[2rem]"
  >
    {t('description.title')}
  </h1>

  <div class="w-full flex justify-center mb-[4rem]">
    <p class="prose text-center">
      {t('description.subtitle')}
    </p>
  </div>

  <!-- <div class="parallax"></div> -->
</section>

<!-- <style lang="scss">
  .parallax {
    /* The image used */
    background-image: url('./../../assets/home/description.jpg');

    /* Set a specific height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
</style> -->
