---
import Feature from '@components/featuring/Feature.astro';
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export const prerender = true;

const features = t('featuring.items').split('|');
---

<section data-aos="fade-up" class="relative mb-[2rem] lg:mb-[6rem] mx-[0.5rem]">
  <h1
    id="featuring-title"
    aria-label={t('featuring.title')}
    class="text-2xl lg:text-[2rem] font-[100] text-center leading-10 my-[2rem]"
  >
    {t('featuring.title')}
  </h1>

  <div
    class="flex flex-row flex-wrap justify-center !gap-0 px-[1rem] lg:px-[16rem]"
  >
    {features.map((feature, index) => <Feature index={index} text={feature} />)}
  </div>
</section>
