---
import Feature from '@components/featuring/Feature.astro';
import TransText from '@components/shared/TransText.astro';
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export const prerender = true;

const features = t('featuring.items').split('|');
---

<section
  data-aos="fade-up"
  data-aos-offset="10"
  class="relative flex flex-col items-center !gap-12"
>
  <TransText tag="h2" textId="featuring.title" class="text-center !text-3xl" />

  <div
    class="flex flex-row flex-wrap justify-center !gap-0 px-4 xl:px-52 2xl:px-80"
  >
    {
      features.map((feature, index) => (
        <Feature index={index} text={feature} total={features.length} />
      ))
    }
  </div>
</section>
