---
import { Image } from 'astro:assets';

import HeroImage from '@assets/home/hero.jpg';
---

<section
  class="relative flex flex-col items-center justify-start h-auto lg:h-[600px] mb-[2rem] lg:mb-[6rem] parallax"
>
  <!-- <Image src={HeroImage} alt="Hero image" class="w-full h-full object-cover" /> -->

  <div
    class="absolute z-20 pt-[1rem] bg-gradient-to-b from-[#000000ce] to-transparen to-[60%] w-full h-[300px] lg:h-[600px]"
  >
    <div class="z-[200] flex flex-col justify-center relative">
      <h1
        class="text-white text-2xl lg:text-[2rem] font-[200] text-shadow-lg text-center leading-10"
      >
        Pariatur ea eiusmod reprehenderit culpa<br />sit reprehenderit est esse
        nisi in et
      </h1>

      <p
        class="text-white text-sm lg:text-base text-shadow-sm text-center mt-4 uppercase"
      >
        Ex Lorem sunt cillum sint eiusmod dolore culpa
      </p>
    </div>
  </div>
</section>

<style>
  /* media query for less than lg */
  @media (max-width: 1023px) {
    .parallax {
      min-height: 400px;
      background-size: cover;
      background-position: top -20rem center;
    }
  }

  /* media query for lg */
  @media (min-width: 1024px) {
    .parallax {
      min-height: 600px;
      background-position: top -15rem center;
      background-size: cover;
    }
  }

  .parallax {
    /* The image used */
    background-image: url('./../../assets//home/hero.jpg');

    /* Set a specific height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .text-shadow-lg {
    text-shadow: 0 4px 4px #000;
  }
  .text-shadow-sm {
    text-shadow: 0 2px 4px #000000af;
  }
</style>
