---
import HeroCouple from '@assets/hero/couple.jpg';
import { Image } from 'astro:assets';

// lg:mx-24 xl:mx-56
---

<section
  data-aos="fade-in"
  data-aos-offset="0"
  data-aos-delay="0"
  class="relative !gap-y-4 lg:!gap-y-10 flex flex-col"
>
  <Image
    src={HeroCouple}
    alt="Pareja feliz"
    loading="eager"
    class="h-[200px] md:h-[400px] xl:h-[600px] object-cover"
  />
</section>

<style>
  /* media query for less than lg */
  @media (max-width: 1023px) {
    .parallax {
      min-height: 400px;
      background-size: cover;
      background-position: top -20rem center;
    }
  }

  /* media query for lg */
  @media (min-width: 1024px) {
    .parallax {
      min-height: 600px;
      background-position: top -15rem center;
      background-size: cover;
    }
  }

  .parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .text-shadow-lg {
    text-shadow: 0 4px 4px #000;
  }
  .text-shadow-sm {
    text-shadow: 0 2px 4px #000000af;
  }
</style>
