---
import { getCollection } from 'astro:content';

import Card from '@components/shared/Card.astro';

import TransText from '@components/shared/TransText.astro';

const servicesRaw = await getCollection('services');

const services = servicesRaw
  .map((s) => ({
    title: s.data.title,
    description: s.data.description,
    image: s.data.image,
    slug: s.slug,
    order: s.data.order,
  }))
  .sort((a, b) => (a.order || 0) - (b.order || 0));

// export const prerender = true;
---

<section
  data-aos="fade-up"
  data-aos-offset="10"
  data-aos-delay="0"
  class="relative mx-4 lg:mx-16 xl:mx-44 !gap-y-4 lg:!gap-y-10 flex flex-col items-center"
>
  <TransText tag="h1" textId="services.title" class="text-center" />

  <div
    class="flex flex-wrap justify-center !gap-4 items-stretch max-w-[1600px]"
  >
    {
      services.map((service) => (
        <Card
          title={service.title}
          body={service.description}
          image={service.image}
          href={`/servicios#${service.slug}`}
        />
      ))
    }
  </div>
</section>
