---
import { getCollection } from 'astro:content';

import Card from '@components/services/Card.astro';
import Carousel from '@components/services/Carousel';

const servicesRaw = await getCollection('services');

const services = servicesRaw.map((s) => ({
  title: s.data.title,
  description: s.data.description,
  image: s.data.image,
  slug: s.slug,
}));
---

<section class="relative mb-[4rem]">
  <h1
    class="text-2xl lg:text-[2rem] font-[100] text-center leading-10 my-[2rem]"
  >
    Nuestros servicios
  </h1>

  <Carousel client:load items={services} />
</section>
