---
export const prerender = true;
---

<section class="relative mb-[6rem]">
  <h1
    class="text-2xl lg:text-[2rem] font-[100] text-center leading-10 my-[2rem]"
  >
    Testimonios
  </h1>

  <div class="w-full flex justify-center mb-[4rem]">
    <p class="prose text-center">
      Esse nisi fugiat ipsum deserunt culpa qui enim cillum sunt laboris ad
      dolore proident occaecat. Amet velit do deserunt velit laboris. Tempor
      ullamco deserunt ad velit laboris eiusmod reprehenderit. Voluptate ut
      nulla excepteur cupidatat. Anim ad in voluptate consequat Lorem aliquip
      exercitation. Tempor irure dolor voluptate dolore esse tempor aliquip ea
      aliqua proident duis veniam quis do.
    </p>
  </div>
</section>
