---
import TransText from '@components/shared/TransText.astro';

import CoupleImage from '@assets/testimonials/couple.jpg';
import { Image } from 'astro:assets';

export const prerender = true;
---

<section
  data-aos="fade-up"
  data-aos-offset="10"
  class="relative mx-4 lg:mx-16 xl:mx-44 flex flex-col items-center !gap-4"
>
  <TransText
    tag="h1"
    textId="testimonials.title"
    class="font-[100] text-center leading-10 my-[1rem]"
  />

  <div class="w-full flex flex-col justify-center items-center !gap-1">
    <TransText
      tag="p"
      textId="testimonials.subtitle.p1"
      class="prose text-center !font-cinzel !max-w-[110ch]"
    />
    <TransText
      tag="p"
      textId="testimonials.subtitle.p2"
      class="prose text-center !font-cinzel !max-w-[110ch]"
    />
  </div>

  <div class="flex flex-col items-center justify-center !gap-8 mt-2">
    <TransText
      tag="h2"
      textId="testimonials.couple.title"
      class="text-center"
    />

    <Image
      src={CoupleImage}
      alt="Pareja feliz"
      class="rounded-[4rem] shadow-2xl w-[300px] aspect-square"
      loading="lazy"
    />

    <TransText
      tag="a"
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.google.com/maps/place/Caputi+Festa+-+Organizaci%C3%B3n,+Dise%C3%B1o+y+Decoraci%C3%B3n+de+Eventos/@-0.7865561,-80.2411648,8z/data=!4m8!3m7!1s0x902be70da0ad81ed:0x76d8052e4791b7ed!8m2!3d-0.7865561!4d-80.2411648!9m1!1b1!16s%2Fg%2F11j4dq39nz?entry=ttu&g_ep=EgoyMDI1MDYzMC4wIKXMDSoASAFQAw%3D%3D"
      textId="testimonials.more"
      class="text-center prose underline cursor-pointer text-base sm:text-base md:text-lg lg:text-xl 2xl:text-2xl"
    />
  </div>
</section>
