---
import TransText from '@components/shared/TransText.astro';

interface Props {
  text: string;
  index: number;
  total: number;
}

const { text, index: idx, total } = Astro.props;

const index = idx + 1;

const idxNumber =
  index % 2 === 0 ? total / 2 + index / 2 : Math.floor(index / 2 + 1);
---

<article
  class="flex justify-start basis-full lg:basis-1/2 lg:px-[1rem] py-[0.5rem] lg:py-[1rem]"
>
  <div class="flex flex-row justify-start items-start">
    <p
      id={`feature-${idxNumber}`}
      aria-label={text}
      class="!text-justify hover:text-teal-600 transition-colors duration-300 cursor-default"
    >
      <TransText
        tag="span"
        literal={`0${idxNumber}. ${text}`}
        class="font-krub hover:text-teal-600 transition-colors duration-300"
      />
    </p>
  </div>
</article>
