---
interface Props {
  text: string;
  index: number;
}

const { text, index } = Astro.props;
---

<article class="flex justify-start basis-full lg:basis-1/2 px-[1rem] py-[1rem]">
  <div class="flex flex-row justify-start items-start">
    <span class="prose font-bold prose-2xl text-teal-500">{index}/</span>
    <h2
      id={`feature-${index}`}
      aria-label={text}
      class="prose prose-lg mb-[1rem]"
    >
      {text}
    </h2>
  </div>
</article>
