---
import Footer from '@components/shared/Footer.astro';
import Head from '@components/shared/Head.astro';
import NavbarDesktop from '@components/shared/NavbarDesktop.astro';
import NavbarMobile from '@components/shared/NavbarMobile.astro';

interface Props {
  title: string;
}
---

<!doctype html>
<html lang="es">
  <head>
    <Head />
  </head>
  <body>
    <NavbarMobile />

    <slot />

    <Footer />
  </body>
</html>

<style lang="scss" is:global>
  @import './webcoreui/styles';
  @include setup(
    (
      fontRegular: '/fonts/Inter-Regular.woff2',
      fontBold: '/fonts/Inter-Bold.woff2',
      includeResets: false,
      includeTooltip: true,
      includeUtilities: true,
      includeScrollbarStyles: false,
      theme: 'light',
    )
  );

  html {
    background: #ffffff;
    scroll-behavior: smooth;
    font-family: system-ui, sans-serif;
  }
</style>
