---
import { ClientRouter } from 'astro:transitions';

import Head from '@components/shared/Head.astro';
import GoTop from '@components/shared/GoTop.astro';
import Footer from '@components/shared/Footer.astro';

import 'aos/dist/aos.css';

import NavbarDesktop from '@components/shared/NavbarDesktop.astro';
import NavbarMobile from '@components/shared/NavbarMobile.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <Head title={title} />
    <ClientRouter />
  </head>
  <body>
    <NavbarMobile />
    <NavbarDesktop />

    <main
      class="transition-colors duration-200 px-0 md:px-[6rem] lg:px-[10rem]"
    >
      <slot />
    </main>

    <GoTop />

    <Footer />
  </body>
</html>

<!-- <style lang="scss" is:global>
  @use 'webcoreui/styles' as *;

  @include setup(
    (
      fontRegular: '/fonts/Inter-Regular.woff2',
      fontBold: '/fonts/Inter-Bold.woff2',
      includeResets: false,
      includeTooltip: true,
      includeUtilities: true,
      includeScrollbarStyles: false,
      theme: 'light',
    )
  );

  @font-face {
    font-family: 'AlexBrush';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/AlexBrush-Regular.ttf') format('truetype');
  }

  html {
    background: #ffffff;
    scroll-behavior: smooth;
    font-family: system-ui, sans-serif;
  }
</style> -->

<script>
  import AOS from 'aos';

  document.addEventListener('astro:after-swap', () => {
    AOS.init({
      delay: 100,
      once: false,
      offset: 300,
      duration: 1250,
      //easing: 'ease-in-cubic',
    });
  });
</script>
